# Lecture III: 'CONTAINER' in Python
## List (Collection of mutable Integers, Floating numbers, Strings)

In [5]:
#list=[ .... ]
#tuple= ( .... )
#set= { .... }
#dictionary= {A:x1,x2,....,B:y1,y2,....}

In [6]:

# Define a list of Integers and its length
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
print(mylist)
print(type(mylist))
print(len(mylist))

[23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
<class 'list'>
14

In [7]:

# To pick various elements from the list
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
print(mylist[0])
print(mylist[-1])

23
67

In [8]:
# SLICING a set of numbers from LIST
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
print(mylist) # Print mylist
print(mylist[::]) # Print Full list
print(mylist[:4]) # Print mylist up to 4th term
print(mylist[4:]) # Print mylist after 4th term
print(mylist[7:12]) # Print from 7th to 11th term

[23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
[23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
[23, 45, 0, 21]
[23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
[5, 11, 25, 11, 50]

In [12]:

# Remove a set numbers from the list
mylist = [23, 45, 0, 21, 2, 5, 25, 11, 50, 1, 67]
del(mylist[7:])#deletes terms after 7th term
print(mylist)

[23, 45, 0, 21, 2, 5, 25]

In [14]:
# Identify the position of 67 in the list
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
pos=mylist.index(67)
print(pos)

13

In [15]:
 # Remove a elment from n-th (say, 3rd) position of list
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
mylist.pop(4)
print(mylist)

[23, 45, 0, 21, 45, 2, 5, 11, 25, 11, 50, 1, 67]

In [16]:
# Append a number at the end of a list
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
mylist.append(100)
print(mylist)

[23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67, 100]

In [17]:
# Insert a number in specific position of a list
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
mylist.insert(5,500)
print(mylist)

[23, 45, 0, 21, 23, 500, 45, 2, 5, 11, 25, 11, 50, 1, 67]

In [18]:
# Remove an element (say, 21) from the list
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
mylist.remove(21)
print(mylist)

[23, 45, 0, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]

In [1]:
# Finding Maximum integer of a list
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
print(max(mylist))

67

In [2]:
#Finding Minimum integer of a list
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, -1, 67]
print(min(mylist))

-1

In [3]:
# Sort a list of integer in ascending order
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
mylist.sort()
print(mylist)

[0, 1, 2, 5, 11, 11, 21, 23, 23, 25, 45, 45, 50, 67]

In [4]:
# Sort a list of integer in decending order
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
mylist.sort(reverse=True)
print(mylist)

[67, 50, 45, 45, 25, 23, 23, 21, 11, 11, 5, 2, 1, 0]

In [5]:
# Extend a list adding more numbers
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
mylist.extend([200,250,340])
print(mylist)

[23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67, 200, 250, 340]

In [6]:
 # Sum of a list of numbers
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
print(sum(mylist))

329

In [7]:
# Formation of ’Nested List’ from two Lists
# Two set of Lists with integers
mylist1 = [23, 45, 21, 45, 2, 5, 11, 50, 1, 67]
mylist2 = [3, 5, 12, 45, 20, 35, 61, 50, 21, 68]
print(mylist1+mylist2)

[23, 45, 21, 45, 2, 5, 11, 50, 1, 67, 3, 5, 12, 45, 20, 35, 61, 50, 21, 68]

In [9]:
#Prepare a List using Range
range_of_number=range(0,10)
print(list(range_of_number))
#The range() function in Python doesn’t include the end value because of a principle called zero-based indexing. Computers start counting at zero, while humans start counting at 1. When a computer needs to number 3 elements, it starts with element 0, then 1, and then 21. So, when you call range(0,10), it starts at 0 and stops before 10, giving you a list of numbers from 0 to 923. This is why 10 is not included in your list.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# List with string
str_mylist1 = ['cat', 'dog', 'tiger', 'bird']
print(str_mylist1)

['cat', 'dog', 'tiger', 'bird']

In [12]:
# Insert in a object in the list of stings (Similar to Intgers)
str_mylist1 = ["cat", "dog", "tiger", "bird"]
str_mylist1.insert(3,'lion')
print(str_mylist1)

['cat', 'dog', 'tiger', 'lion', 'bird']

In [13]:
# Prepare a Set using Range
range_of_numbers=range(0,10)
set(range_of_numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# Tuple (It is the datatype where objects are immutable)

In [19]:
# Prepare a Tuple
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
mytuple=tuple(mylist)
print(mytuple)
print(type(mytuple))

(23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67)
<class 'tuple'>

In [17]:
# Prepare a Tuple using Range
range_of_number=range(0,10)
print(tuple(range_of_number))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
# Nested TUPLE
nested_tup = (1,2,5),(10,20,50,100)
print(nested_tup)

((1, 2, 5), (10, 20, 50, 100))

In [21]:
# Concatenate is supported in LIST and TUPLE
list1=[4, None, 'foo']
list2=[7, 8, (2, 3)]
print(list1+list2)
tup1=(4, None, 'foo')
tup2=(7, 8, (2, 3))
print(tup1+tup2)

[4, None, 'foo', 7, 8, (2, 3)]
(4, None, 'foo', 7, 8, (2, 3))

In [25]:
# Concanate is NOT supported in LIST and TUPLE
set1={4, None, 'foo'}
set2={7, 8, (2, 3)}
print(set1.union(set2))
print(set1 | set2)

{None, (2, 3), 'foo', 4, 7, 8}
{None, (2, 3), 'foo', 4, 7, 8}

In [26]:
# Unchangibility of objects in Tuple
range_of_number=range(0,10)
tpl=tuple(range_of_number)
print(tpl)
print(tpl.append(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

AttributeError: 'tuple' object has no attribute 'append'

In [27]:
# Unchangibility of objects in Tuple
range_of_number=range(0,10)
tpl=tuple(range_of_number)
print(tpl)
new_tpl=tpl+(10,)
print(new_tpl)
#In Python, a tuple with only one item is called a singleton tuple. The comma after the 10 is necessary to distinguish it as a tuple, not just an expression in parentheses.For example, (10) is just the number 10 in parentheses, but (10,) is a tuple with one item.So, when you want to add an item to a tuple, you need to make sure that the item is a tuple itself, even if it’s a singleton. That’s why the code is tpl = tpl + (10,).

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Set (It is the data-type that are collected without duplication)

In [28]:
# Prepare a Set from lst (Neglect repetation of object)
mylist = [23, 45, 0, 21, 23, 45, 2, 5, 11, 25, 11, 50, 1, 67]
myset=set(mylist)
print(myset)
print(type(myset))

{0, 1, 2, 67, 5, 11, 45, 50, 21, 23, 25}
<class 'set'>

# Dictionary (It is clubbed datatype with immutable objects)

In [30]:
mydict = {"animal": "tiger , lion , Bird , Snake",
 "subject": "Phys , Chem , Maths",
 "year": "1964, 1974, 1994, 2064"}
print(mydict)
print(type(mydict))
print(mydict["animal"])
print(mydict["subject"])
print(mydict["year"])

{'animal': 'tiger , lion , Bird , Snake', 'subject': 'Phys , Chem , Maths', 'year': '1964, 1974, 1994, 2064'}
<class 'dict'>
tiger , lion , Bird , Snake
Phys , Chem , Maths
1964, 1974, 1994, 2064

In [1]:
# LIST
lst=[16, 20, "HEX 0B", 0.23, 22.5, 1964,"Tiger", 1010, "23/04/2004", "Birds", "HEX FF",11101]
print("An example of List:", lst)
print("Length of the List:", len(lst))
# TUPLE
Tuple=tuple(lst)
print("An example of Tuple:",Tuple)
print("Length of Tuple:", len(Tuple))
#SET
Set=set(lst)
print("An example of Set:", Set)
print("Length of Set:", len(Set))
#Dictionary
dic={"int_num":[lst[0],lst[1],lst[5]],"float_num":[lst[3],lst[4]],"string":[lst[6],lst[8],[9]],"hex_dec_num": [lst[2],lst[10]],"bin_num":[lst[7],lst[11]]}
print("An example of Dictionary:", dic)
print("Length of Dictionary (Grouped Set):",len(dic))

An example of List: [16, 20, 'HEX 0B', 0.23, 22.5, 1964, 'Tiger', 1010, '23/04/2004', 'Birds', 'HEX FF', 11101]
Length of the List: 12
An example of Tuple: (16, 20, 'HEX 0B', 0.23, 22.5, 1964, 'Tiger', 1010, '23/04/2004', 'Birds', 'HEX FF', 11101)
Length of Tuple: 12
An example of Set: {0.23, 'HEX 0B', 'Tiger', 1964, 16, 'HEX FF', 1010, 20, 22.5, '23/04/2004', 11101, 'Birds'}
Length of Set: 12
An example of Dictionary: {'int_num': [16, 20, 1964], 'float_num': [0.23, 22.5], 'string': ['Tiger', '23/04/2004', [9]], 'hex_dec_num': ['HEX 0B', 'HEX FF'], 'bin_num': [1010, 11101]}
Length of Dictionary (Grouped Set): 5