# Data type, Variable assignment and their manupulation

In [1]:
# Various data-type (types of data)
print(type(7))
print(type(4.1641))
print(type("Hello World"))
print(type(7.5+44.5j))
print(type(7<22))
print(type(11001))
print(type(False))
print(type(input))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'int'>
<class 'bool'>
<class 'method'>

In [2]:
lambda x:x+2

In [3]:
(lambda x:x+1)(8)

9

In [4]:
add_number=lambda x:x+1
add_number(4)

5

In [5]:
# Some (Lambda) function
#print(type(print))
F=lambda C:9/5*C+32
F(20)
#print(type(F))
#print(type(add()))

68.0

# Conversion of Integer into Float & vice versa etc

In [7]:
# variable assignments
from decimal import Decimal
v1=21
v2=25
result1=v2/v1
result2=Decimal(Decimal(v2)/Decimal(v1))
print(result1,type(result1))
print(result2,type(result2))

1.1904761904761905 <class 'float'>
1.190476190476190476190476190 <class 'decimal.Decimal'>

In [9]:
# Typing various datatype
print(int(7.5)) # Conversion of floating point number to integer 
print(str(37)) # Conversion of integer to string
print(str(37.4)) # Conversion of float to string
print(float(7)) # Conversion of integer to float
print(complex(7,44)) # Conversion of real nos. to complex
print(bin(25)) # Conversion of Decimal to Binary number
print(int(0b11001)) # Conversion of Binary to Decimal number
#note:The b in the output of the bin() function doesn’t actually form part of the binary number. It’s a prefix used in Python to indicate that the string represents a binary number.

#When you use the bin() function, Python returns the binary representation as a string, and it adds the 0b prefix to the start of the string to indicate that the following numbers are in binary format.

#So, for example, when you see 0b1111, the 1111 is the binary representation of the number, and the 0b simply indicates that this is a binary number.

#This is similar to how Python uses 0x to denote hexadecimal numbers and 0o for octal numbers. It’s a way of providing context for the number system being used.

#So, you’re correct that binary numbers consist only of 0s and 1s. The b is just part of Python’s way of indicating that the number is binary.

7
37
37.4
7.0
(7+44j)
0b11001
25

In [10]:
# Calling of a function: Convert Binary into Decimal Number
bin_num= input('Enter a Binary number:')
dec_num= int(bin_num, 2)
print('The decimal number is:', dec_num)
print(type(dec_num))

Enter a Binary number: 10

The decimal number is: 2
<class 'int'>

In [13]:
# Calling of a function: Convert Decimal into Binary Number
dec_num= int(input('Enter a Decimal number:'))
bin_num=bin(dec_num)
print('The Binary number is:', bin_num)
print(type(bin_num))

Enter a Decimal number: 2

The Binary number is: 0b10
<class 'str'>

In [15]:
import random
print(random.randint(1,100))

38

# String & its manupulation

In [17]:
# 'Hello' Program in Python (To display a output in different form)
print("Hello, World!")
print("Hello, \nWorld!")#\n means new line
print("Hello, \tWorld!")#\t means tab fn

Hello, World!
Hello,
World!
Hello, 	World!

In [20]:
# Define a string variable
vs="Hello World"
#posof element from left=[012345678910]
#posof element from right=[-1-2-3-4-5-6-7-8-9-10-11]
print(str(vs))
vs1=vs.replace('World','Universe')
print(vs1)
print(len(vs))
print(len(vs1))
print(vs.count("o"))
print(vs[1])
print(vs[-11])
print(vs[0:5])
print(vs[6:11])
print(vs[0:11:2])

Hello World
Hello Universe
11
14
2
e
H
Hello
World
HloWrd

In [21]:
# Concatenate the strings
first_word = str(input("Enter 1st word : "))
second_word = str(input("Enter 2nd word : "))
print(first_word + "," + second_word)

Enter 1st word :  Hi
Enter 2nd word :  How are you?

Hi,How are you?

In [23]:

# Capitalize, Upper & Lowercase converter, count, split etc
greetings="Hello World"
print(greetings.capitalize())
print(greetings.upper())
print(greetings.lower())
print(greetings.count("Hello"))
print(greetings.count("l"))
print(greetings.split())
print(greetings.find('World'))

Hello world
HELLO WORLD
hello world
1
3
['Hello', 'World']
6

# Different operations of variables
# Arithmatic operation (Addition (+), Substraction (-),
# Multiplication (*), Division (/), Module (//), Remainder (%),
# Exponentiation (** ))

In [25]:
# Simple Arithmatic operation of two variables
first_num = float(input("Enter 1st number: "))
second_num = float(input("Enter 2nd number: "))
print("The addition of two numbers are:", first_num +second_num)
print("The substraction of two numbers are:", first_num -second_num)
print("The multiplication of two numbers are:", first_num*second_num)
print("The division of two numbers are:", first_num/second_num)
print("The modulo (floor division) of two numbers are:", first_num//second_num)
print("The remainder of two numbers are:", first_num%second_num)
print("The exponentiation of a number:", first_num**second_num)
#print ("The sum of %d and %d are: %d "%(first_num,second_num,first_num +second_num))
#print ("The sum of {} and {} are: {}".format(first_num,second_num,first_num +second_num))

Enter 1st number:  22
Enter 2nd number:  7

The addition of two numbers are: 29.0
The substraction of two numbers are: 15.0
The multiplication of two numbers are: 154.0
The division of two numbers are: 3.142857142857143
The modulo (floor division) of two numbers are: 3.0
The remainder of two numbers are: 1.0
The exponentiation of a number: 2494357888.0

In [26]:
# Complex variable 
z=7.4+45.5j
print(z)
print(type(z))
print(z.conjugate())
print(z.real)
print(z.imag)
print(abs(z))

(7.4+45.5j)
<class 'complex'>
(7.4-45.5j)
7.4
45.5
46.097830751565745

In [36]:
import math
math.sqrt(7.4*7.4+45.5*45.5)

46.097830751565745

In [35]:
import math
##math.ceil(22/7)
round(22/7)

3

In [37]:
# Some more matematical operations
first_num = float(input("Enter 1st number: "))
second_num = float(input("Enter 2nd number: "))
ratio=print(round(first_num/second_num,5))
exponent=print(first_num**second_num)
absolute_value=print(abs(-first_num*second_num))

Enter 1st number:  22
Enter 2nd number:  7

3.14286
2494357888.0
154.0

In [39]:
# Exponential, Square Root, Ceil, Floor, Log function etc module from 'Math' library
import math
print(math.exp(2))
print(math.sqrt(25))
print(math.factorial(5))
print(math.ceil(3.1416))
print(math.floor(3.1416))
print(math.trunc(-3.1416))#removes decimal part
print(math.log(7)) #Logarithm in e base
print(math.log(7,2)) #Logarithm in 2 base
print(math.log(7,10)) #Logarithm in 10 base

7.38905609893065
5.0
120
4
3
-3
1.9459101490553132
2.807354922057604
0.8450980400142567

In [47]:
# Doing mathematical operation inside print function
import math
x=int(input("Enter the base of a triangle: "))
y=int(input("Enter the altitude of a triangle: "))
hyp=math.sqrt(x**2+y**2)
print("The hypotenues of the triangle with base {} and altitude {} is given by {}".format(x,y,hyp))

Enter the base of a triangle:  3
Enter the altitude of a triangle:  2

The hypotenues of the triangle with base 3 and altitude 2 is given by 3.605551275463989

# Augmented arithmatic operation (Augmented sum (+=),
## Augmented substraction (-=) etc )

In [48]:
# Define function 
x = float(input("Enter a number : "))
x+=1
print ("The augmented number is {}".format(x))

Enter a number :  10

The augmented number is 11.0

In [49]:
# Define function 
x = float(input("Enter a number : "))
x-=1
print ("The augmented number is {}".format(x))

Enter a number :  10

The augmented number is 9.0

In [50]:
# Define function 
x = float(input("Enter a number : "))
x*=2
print ("The augmented number is {}".format(x))

Enter a number :  22

The augmented number is 44.0

In [51]:
# Define function 
x = float(input("Enter a number : "))
x/=4
print ("The augmented number is {}".format(x))

Enter a number :  22

The augmented number is 5.5

In [52]:
# Define function 
x = float(input("Enter a number : "))
x//=5
print ("The augmented number is {}".format(x))

Enter a number :  22

The augmented number is 4.0

In [53]:
# Define function 
x = float(input("Enter a number : "))
x%=8
print ("The augmented number is {}".format(x))

Enter a number :  22

The augmented number is 6.0

In [54]:
# Define function 
x = float(input("Enter a number : "))
x**=2
print ("The augmented number is {}".format(x))

Enter a number :  22

The augmented number is 484.0

# Bitwise operation (Binary NOT (~), Binary AND (&), Shift LEFT(<<), Shift RIGHT (>>)

In [2]:
# Bitwise NOT (COMPLEMENTARY) verification 
print(~45)
print(~-46)

-46
45

In [3]:
print(bin(~47))
print(bin(~-49))

-0b110000
0b110000

In [4]:
# Bitwise NOT verification 
print(bin(~22))
print(bin(-22-1))

-0b10111
-0b10111

In [5]:
# Bitwise AND
x=44
y=70
print(x & y)

4

In [6]:
# Bitwise AND verification 
print(bin(x))
print(bin(y))
print(0b101100 & 0b1000110)

0b101100
0b1000110
4

In [7]:
# Bitwise OR
x=22
y=7
print(x|y)

23

In [8]:
# Bitwise OR Verification
print(bin(x))
print(bin(y))
print(0b10110|0b111)

0b10110
0b111
23

In [9]:
# Bitwise LEFT-SHIFT
x=20
y=4
print(x<<y)
############
print(0b10100<<0b100)

320
320

In [10]:
# Bitwise XOR
x=20
y=4
print(x^y)
############
print(0b10100^0b100)

16
16

In [11]:

# Bitwise RINGT-SHIFT
x=2
y=4
print(x>>y)
############
print(10>>100)

0
0

# Latex in jupyter
$(a+b)^2=a^2+2ab+b^2$

# Relational (Comarison) operation (Equal (==), Unequal (!=), Less
# than (<), Greater than (>) etc )

In [56]:
a=22
b=7
print(a!=b,a==b,a>b,a<b)

True False True False

In [57]:
# not statement
print(False==(not True))
print(True==(not False))
print(not 10!=7)
print(not 10==7)
print(not 10<7)
print(not 10>7)
print(not 10>=7)
print(10<=7)

True
True
False
True
True
False
False
False

In [58]:
# Comparison statement (AND Table)
a = 5
b = 3
c = 7
print(a>b and b<c)
print(a>b and b>c)
print(a<b and b<c)
print(a<b and b>c)

True
False
False
False

In [59]:
# Comparison statement (OR Table)
a = 5
b = 3
c = 7
print(a>b or b<c)
print(a>b or b>c)
print(a<b or b<c)
print(a<b or b>c)

True
True
True
False

# Boolean (Logical) Operation (NOT (not), AND (&), OR (|), XOR (^)etc)

In [60]:

# OR Operation
(0|0, 0|1, 1|0, 1|1)

(0, 1, 1, 1)

In [61]:
# AND Operation 
(0 & 0, 0 & 1,1 & 0,1 & 1)

(0, 0, 0, 1)

In [62]:
# XOR Operation
(0^0, 0^1, 1^0, 1^1)

(0, 1, 1, 0)

In [2]:
x1 = 0
x2 = 1
#y1 = not x1
y2 = x1 or x2
y3 = x1 and x2

#print("not of",x1,'is:',y1)
print(x1,"or",x2,'is:',y2)
print(x1,"and",x2,'is:',y3)

0 or 1 is: 1
0 and 1 is: 0

In [70]:
x1=1
x2=0
x=x1 and x2
print(x)

0

# Function, their classification & usage

In [3]:
# Built-in function
print(type(print))
print(type(abs))

<class 'builtin_function_or_method'>
<class 'builtin_function_or_method'>

In [4]:
# An example to define a custom function 
def welcome():
 print("Welcome to the World of Python!")
welcome()
type(welcome)

Welcome to the World of Python!

function

In [5]:
# Another example to define a custom function 
def welcome(name = "friends"):
 print(f"Hi {name}, Welcome to the World of Python!")
welcome()

Hi friends, Welcome to the World of Python!

# Global function

In [6]:
# An example of a GLOBAL function 
greet_global="Hello Universe!"
def hello():
 print("This is a global function:", greet_global)
hello()
type(hello)

This is a global function: Hello Universe!

function

# Local function

In [7]:
# An example of a LOCAL function
def hello():
 greet_local="Hi World!"
 print("This is a local function:", greet_local)
hello()
type(hello)

This is a local function: Hi World!

function

In [8]:
# Programing math using function 
def add(x,y):
 total = x+y
 print("Sum of x and y is", total)
add(22,7)

Sum of x and y is 29

In [9]:
# Programming Gloal Function in local environment (Method-I)
x=11
def fpn():
 global x
 fx=4*x + 5
 print(fx)
 return
fpn()

49

In [10]:
# Programming Gloal Function in local environment (Method-I)
x=11
def fpn():
 global x
 fx=4*x + 5
 return fx
fpn()

49

In [12]:
# Programing 'Function-Block' with RETURN statement
def add():
 num1 = int(input("Enter 1st number:"))
 num2 = int(input("Enter 2nd number:"))
 output=num1+num2
 return output
# calling function outside block
total = add()
print ("The sum of two numbers is: ",total)
#print ("The augmented number is {}".format(x))

Enter 1st number: 11
Enter 2nd number: 1

The sum of two numbers is:  12

# Lambda function

In [15]:
# Programing function with LAMBDA function
C = float(input("Enter the temperature in centigrate (degree C): "))
F = lambda C : 9/5*C + 32
temp_in_C = F(C)
print("The temperature in fehrenhite {} degree F is: {}".format(C,temp_in_C))

Enter the temperature in centigrate (degree C):  -40

The temperature in fehrenhite -40.0 degree F is: -40.0

In [16]:
# Doing mathematical operation using function
first_num = float(input("Enter 1st number: "))
second_num = float(input("Enter 2nd number: "))

def arithmatic(first_num, second_num):
    x1 = first_num + second_num
    x2 = first_num - second_num
    x3 = first_num * second_num
    x4 = first_num / second_num
    x5 = first_num // second_num
    x6 = first_num % second_num
    return x1, x2, x3, x4, x5, x6

# Calling function
y1, y2, y3, y4, y5, y6 = arithmatic(first_num, second_num)

print("The sum of two numbers {} and {} is: {}".format(first_num, second_num, y1))
print("The subtraction of two numbers {} and {} is: {}".format(first_num, second_num, y2))
print("The multiplication of two numbers {} and {} is: {}".format(first_num, second_num, y3))
print("The division of two numbers {} and {} is: {}".format(first_num, second_num, y4))
print("The floor division of two numbers {} and {} is: {}".format(first_num, second_num, y5))
print("The remainder of two numbers {} and {} is: {}".format(first_num, second_num, y6))

Enter 1st number:  22
Enter 2nd number:  37

The sum of two numbers 22.0 and 37.0 is: 59.0
The subtraction of two numbers 22.0 and 37.0 is: -15.0
The multiplication of two numbers 22.0 and 37.0 is: 814.0
The division of two numbers 22.0 and 37.0 is: 0.5945945945945946
The floor division of two numbers 22.0 and 37.0 is: 0.0
The remainder of two numbers 22.0 and 37.0 is: 22.0

# More math

In [17]:
# To find dot and cross product using NUMPY library
import numpy as np
from numpy import arccos, dot
v = np.array([[1, 2, 3]])
w = np.array([[4, 5, 6]])
dot_product = dot(v, w.T)
cross_product=np.cross(v, w)
print("The dot product is:",dot_product)
print("The cross product is:",cross_product)

The dot product is: [[32]]
The cross product is: [[-3  6 -3]]

# Tables of various operations in Math library: Number Theory,Functions, Logarithmic, Trigonometric, Hyperbolic

In [19]:
#http://www-personal.umich.edu/~mejn/cp/programs/rutherford.py
from math import sqrt,log,cos,sin,pi
from random import random
# Constants
Z = 79
e = 1.602e-19
E = 7.7e6*e
epsilon0 = 8.854e-12
a0 = 5.292e-11
sigma = a0/100
N = 1000000
# Function to generate two Gaussian random numbers
def gaussian():
 r = sqrt(-2*sigma*sigma*log(1-random()))
 theta = 2*pi*random()
 x = r*cos(theta)
 y = r*sin(theta)
 return x,y
# Main program
count = 0
for i in range(N):
 x,y = gaussian()
 b = sqrt(x*x+y*y)
 if b<Z*e*e/(2*pi*epsilon0*E):
     count += 1
print(count,"particles were reflected out of",N)

1587 particles were reflected out of 1000000

In [1]:
R=1.097e-2
for m in range (1,4):
    print("Series for m=",m)
    for n in range (m+1,m+6):
        invlambda=R*(1/m**2-1/n**2)
        print(" ",invlambda,"nm")

Series for m= 1
  0.0082275 nm
  0.009751111111111111 nm
  0.010284375 nm
  0.010531200000000001 nm
  0.010665277777777779 nm
Series for m= 2
  0.0015236111111111112 nm
  0.002056875 nm
  0.0023037 nm
  0.002437777777777778 nm
  0.002518622448979592 nm
Series for m= 3
  0.0005332638888888889 nm
  0.0007800888888888888 nm
  0.0009141666666666666 nm
  0.0009950113378684807 nm
  0.0010474826388888888 nm

[cilck here to go to link](http://www-personal.umich.edu/~mejn/cp/programs.html)